<section   cdkDragBoundary="body" cdkDrag #window class="window">
  <header cdkDragHandle class="window_actions">
    <div class="bf" >
      <ul >
        <li *ngFor="let b of headerButton; index as i">
          <div>
            <img class="{{b.class}}" [src]="b.img" (click)="actionButton(i)" >
          </div>
        </li>
      </ul>
      <div class=""></div>
    </div>
  </header>
  <div class="body">
    <div class="box bf text-1 ">▟ ∎ ▚▙▝ ▞ ▟ ∎ ▚</div>
    <main>
      <div  class="tools_canvas">
        <div class="tools">
          <div class="tool-{{tool.theme}}"*ngFor="let tool of tools;"></div>
        </div>
        <div class="canvas">
          <div class="avatar">
            <img src="../../../assets/img/{{img | async}}.svg">
          </div>
          <div class="information">
            <div class="info" *ngFor="let info of information">
              <img [src]="info.icon" class="icon">
              <span>{{info.text}}</span>
              <img *ngIf="info.link" class="link" src="../../../assets/img/link.svg" (click)="openLink(info.link)">
            </div>
          </div>
        </div>
      </div>

      <div class="colors">
        <div class="color"*ngFor="let tool of tools;"></div>

      </div>
    </main>
</div>
</section>
