<div >
<div class="content" [ngSwitch] = "view">
  <div   *ngSwitchCase="'Aboutme'">
    <div class="font-size-22 tColor-0 margin-top-60">
      Hello There I'm 
    </div>
    <div class="enderLine-0" style="width: 130px">

    </div>
    <div class="font-size-20 tColor-0 margin-top-40">
      Saleh alsaggaf and I'm Front-end Developer with one year of experience designing and developing. And I Graduated from Omar
      Bin Al Khattab Secondary School in 2017.

    </div>
    <ul class="nav flex-column tColor-0 font-size-18 margin-top-40">
      <li class="nav-item">
        address : Jeddah - Saudi Arabia

      </li>
      <li class="nav-item">
        email : saa111954@hotmail.com.

      </li>
      <li class="nav-item">
        phone number : +966 551 594 683.

      </li>
      <li class="nav-item">
        birthday : 1999/9/1.

      </li>
    </ul>

  </div>
  <div  *ngSwitchCase="'Experiences'">
    <div class="font-size-22 tColor-0 margin-top-60">
      My experinces
    </div>
    <div class="enderLine-0" style="width: 130px">

    </div>
    <div class="font-size-18 tColor-0 margin-top-40">
      CODE-12, Open source comunity
      <ul class="font-size-15 margin-top-10">
        <li>
          Design & Devlopment Virtual LAB, A desktop app for simulat physical experiments.

        </li>
        <li>
          Design user interface for multi desktop app.

        </li>
      </ul>
    </div>
    <div class="font-size-18 tColor-0 margin-top-20">
      QleanApp.
      <ul class="font-size-15 margin-top-10">
        <li>
          Development application user interface.


        </li>
        <li>
          Development control panel user interface & landing page.

        </li>
      </ul>
    </div>
    <div class="font-size-18 tColor-0 margin-top-20">
      EjarTech.
      <ul class="font-size-15 margin-top-10">
        <li>
          Development the user interface for EjarTech booking system.


        </li>
        <li>
          Development multi pages for markting stategy

        </li>
      </ul>
    </div>
  </div>
  <div  *ngSwitchCase="'Skils'">
    <div class="font-size-22 tColor-0 margin-top-60">
      My Skils
    </div>
    <div class="enderLine-0" style="width: 80px">

    </div>
    <app-skils></app-skils>
  </div>
</div>
</div>