.content{
    height: auto;
    min-height: 495px;
}
li::before {content: "•"; color: white}
li{
    list-style-type: none;
}
ul{
    padding-left: 10px;
}

@media screen and (min-width:320px)  {
.content{
    margin-left: 8%;
 } 
}
@media screen and (min-width:768px) {
.content{
    margin-left: 10%;
 } 
}
@media screen and (min-width:992px) {
.content{
    margin-left: 20%;
 } 
}
@media screen and (min-width:1200px) {
.content{
    margin-left: 20%;
 } 
}