
<ul class="nav" style="margin-left: 21%">
    <li class="nav-item">
      <a class="nav-link tColor-0 padding-5 " href="# ">
          <fa-icon [icon]="['fab','twitter-square']"></fa-icon>
      </a>
    </li>
    <li class="nav-item">
      <a class="nav-link tColor-0 padding-5" href="#">
          <fa-icon [icon]="['fab','facebook-square']"  ></fa-icon>
      </a>
    </li>
    <li class="nav-item">
      <a class="nav-link tColor-0 padding-5" href="#">
          <fa-icon [icon]="['fab','instagram']" ></fa-icon>

      </a>
    </li>
    <li class="nav-item">
      <a class="nav-link tColor-0 padding-5 " href="#">
          <fa-icon [icon]="['fab','github']"  ></fa-icon>
      </a>
    </li>
  </ul>