
<ul class="nav content" >
    <li class="nav-item">
      <a class="nav-link tColor-0 padding-5 " href="https://twitter.com/saleh_alsaggaf1 ">
          <fa-icon [icon]="['fab','twitter-square']"></fa-icon>
      </a>
    </li>
    <li class="nav-item">
      <a class="nav-link tColor-0 padding-5" href="https://www.facebook.com/1SalehAlsaggaf">
          <fa-icon [icon]="['fab','facebook-square']"  ></fa-icon>
      </a>
    </li>
    <li class="nav-item">
      <a class="nav-link tColor-0 padding-5" href="https://www.instagram.com/saleh_alsaggaf/">
          <fa-icon [icon]="['fab','instagram']" ></fa-icon>

      </a>
    </li>
    <li class="nav-item">
      <a class="nav-link tColor-0 padding-5 " href="https://github.com/SeN75">
          <fa-icon [icon]="['fab','github']"  ></fa-icon>
      </a>
    </li>
  </ul>