@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  @apply md:bg-c6 font-f1 overflow-hidden sm:bg-c6;
}
* {
  margin: 0;
  padding: 0;
  // box-sizing: border-box;
  cursor: url("../img/mouse1.png"), default;

  ::-moz-selection { /* Code for Firefox */
    @apply bg-c2 text-c1
  }

  ::selection {
    @apply bg-c2 text-c1
  }
}
h1,
h2,
h3,
h4,
h5,
h6 {
  @apply text-c2 font-f1;
}

@layer components {
  .btn-1 {
    @apply p-[5px] relative;
    @apply border-solid border-t-[5px] border-l-[5px] border-t-c1  border-l-c1;
    @apply border-solid border-b-[7px] border-r-[7px] border-b-c2 border-r-c2;
    &:active {
      @apply border-solid border-b-[5px] border-r-[5px] border-b-c1  border-r-c1;
      @apply border-solid border-t-[7px] border-l-[7px] border-t-c2 border-l-c2;
    }
    &.active {
      @apply border-solid border-b-[5px] border-r-[5px] border-b-c1  border-r-c1;
      @apply border-solid border-t-[7px] border-l-[7px] border-t-c2 border-l-c2;
    }
    &::before {
      @apply content-[''] w-[100%] h-[100%] left-0 top-0 absolute;
      @apply border-solid border-t-[2px] border-l-[2px] border-t-c3  border-l-c3;
      @apply border-solid border-b-[3px] border-r-[3px] border-b-c4 border-r-c4;
    }
    &:active::before {
      @apply border-solid border-b-[2px] border-r-[2px] border-b-c3  border-r-c3;
      @apply border-solid border-t-[3px] border-l-[3px] border-t-c4 border-l-c4;
    }
    &.active::before {
      @apply border-solid border-b-[2px] border-r-[2px] border-b-c3  border-r-c3;
      @apply border-solid border-t-[3px] border-l-[3px] border-t-c4 border-l-c4;
    }
  }
  .cursor-p2 {
    &:active {
      cursor: url(../img/click.png), auto;
    }
  }

  .bf {
    @apply relative pt-0 px-1.5 bg-c5 border-solid border-[4px] border-c3;
    &::after {
      @apply content-[''] absolute top-0 left-0 right-0 h-1 bg-c1;
    }
  }

  .body {
    @apply p-[10px] pb-[20px] bg-c5 border-solid border-[3px] flex-1;
    @apply border-t-c1 border-l-c1 border-b-c2 border-r-c2;
    @apply flex flex-col;
  }
  .file-col {
    @apply bg-c5 border-solid border-[4px];
    @apply border-t-c1 border-l-c1 border-b-c4 border-r-c4;
  }
  .text-1 {
    @apply text-c1 font-f1 text-[0.8em] py-1;
  }

.window {

  @apply inline-flex z-[1] box-border fixed flex-col ;
  @apply xl:top-[10%] xl:left-[30%] lg:top-[20%] lg:left-[20%];;
  @apply z-10 xl:min-w-[40vw] lg:min-w-[60vw] md:min-w-[80vw] sm:min-w-[95vw]  max-w-[70vw] min-h-[30vh];

}
.window_bigger {
  @apply top-0 left-0 w-full h-full  max-h-[unset] ;
  max-width: unset !important;
}

.open_window {
  animation: open 500ms forwards;
}
.close_window {
  animation: close 500ms forwards;
}

.window_actions {
  @apply w-full;
  & > div {
    @apply w-full flex flex-wrap justify-between pb-1 pt-2;

    & ul {
      @apply w-auto list-none inline-flex ;
      & li {
        @apply my-0 mx-0.5 border-solid w-[25px] h-[25px] border-t-c1 border-l-c1 border-b-c2  border-r-c2 border-[4px] relative;
        &:active {
          @apply  border-t-c2 border-l-c2 border-b-c1 border-r-c1;
          & > div {
            @apply  border-t-c4 border-l-c4 border-b-c3 border-r-c3;

          }
        }
        & > div  {
          @apply w-full h-full border-solid absolute top-0 left-0;
          @apply  border-t-c3 border-l-c3 border-b-c4 border-r-c4 border-[2px];

          & img {
            @apply block m-auto;

            &.xmark {
              @apply w-[12px] h-[15px];
            }
            &.min {
              @apply w-[10px] h-[5px] bottom-0.5 left-0.5 absolute;
            }
          }
        }
      }
    }
  }
}


}
.bt {
  @apply cursor-p2 btn-1;
}



@keyframes open {
0% {
  transform: scale(0.5);
}
100% {
  transform: scale(1);
}
}
@keyframes close {
  0% {

    transform: scale(1);
  }
  100% {
    transform: scale(0.5);
    top: 100%;
  }
}

