
<div class="container margin-top-40 padding-0" >
  <div class="row">
    <div class="col">
      <div *ngFor="let skil of skils"  class="tColor-0" >
        <div>
          {{ skil.name}}
        </div>
        <div class="bar-0 Inline-Block margin-right-5 {{skil.width}}"></div>
        <div class="Inline-Block ">{{skil.value}}</div>
      </div>
    </div>
    <div class="col">
      <div *ngFor="let skil of skils2" class="tColor-0">
        <div>
          {{ skil.name}}
        </div>
        <div class="bar-0 Inline-Block margin-right-5 {{skil.width}}" ></div>
        <div class="Inline-Block">{{skil.value}}</div>
      </div>
    </div>
  </div>
</div>