<div class="container margin-top-40">
  <div class="row">
      <div class="col-sm-2 margin-top-5"><img [src]="MyLogo" class="Logo"alt="">
      </div>
    <div class="col margin-top-10 ">
        <ul class="nav">
            <li class="nav-item">
              <a class="nav-link margin-left-right-16 tColor-0 font-size-15"
              routerLink="/about-me"
              routerLinkActive="active current"
                >About Me</a>
            </li>
            <li class="nav-item">
              <a class="nav-link margin-left-right-16 font-size-15 tColor-0 "
              routerLink="experiences"
              routerLinkActive="active current"
              >Experiences</a>
            </li>
            <li class="nav-item">
              <a class="nav-link margin-left-right-16 font-size-15 tColor-0 " 
                 routerLink="/skils"
                 routerLinkActive="active current">Skils
                  <fa-icon [icon]="['fas', 'calendar']"></fa-icon>

              </a>
            </li>
            <li class="nav-item font-size-20">
            </li>
          </ul>
    </div>
   
  </div>
</div>