.Logo{
   max-width: 100px;
   width: auto;
   height:auto; 
}
.mat-tab-label{
    color: white;
}
.nav-link.active.tColor-0 {
transition: 500ms;
    border-bottom:3px solid #fff;
}
.nav-link.tColor-0{
    transition: 500ms;
    border-bottom:3px solid transparent;
}
.tColor-0{
    color: #fff;
}
.nav-link.margin-left-right-16{
    padding:0!important;
    margin: 0 10px;
   
}
