<section   cdkDragBoundary="body" cdkDrag #window >
  <header cdkDragHandle>
    <div class="bf" >
      <ul >
        <li *ngFor="let b of headerButton">
          <div>
            <img class="{{b.class}}" [src]="b.img" (click)="b.action; " >
          </div>
        </li>
      </ul>
      <div class=""></div>
    </div>


  </header>
  <div class="body">
    <div class="box bf text-1 ">▟ ∎ ▚▙▝ ▞ ▟ ∎ ▚</div>
    <div class="seach_bar text-1">
      <div class="bf ">▟ ∎ ▚</div>
      <div class="bf">
        <img  />
        <span>C:\ ▟ ∎ ▚ ▟ ∎ ▚</span>
      </div>
      <div class="bf ">▚▙▝ ▞ </div>
    </div>



    <div class="file_continer">
      <div class=" text-1">
        <div class="bf  ">▟ ∎ ▚</div>
        <div class=" file-col"></div>
      </div>
      <div class="file-col">▟ ∎ ▚▟ ∎ ▝ ▞ ∎ ▚▟ ∎ ▝ ▞ ∎ ▚▟ ∎ ▚▝ ▞</div>
    </div>
</div>
</section>
