.MyImg{
    background:  #414141  ;
    background-position: center;
    background-image: url('../images/MyPic.jpeg') ;
    background-size: cover;

    height: 670px !important;
}
.background {
    background: linear-gradient(142deg, rgba(0, 0, 0, 0.658), #414141a9); 
    border: 2px solid #414141;
}
@media screen and (max-width:768px){
    .background::after{
        background-position: center;
        background-image: url('../images/MyPic.jpeg') ;
        background-size: cover;
        
    }
}

