<section>
<desktop-icon></desktop-icon> <thetitles></thetitles> <toolbar></toolbar>
<!-- <windows></windows> -->
<router-outlet></router-outlet>
<pic-preview *ngIf="helperSrv.showGallery">

</pic-preview>

<terminal *ngIf="helperSrv.showAbout" activeApp="about"></terminal>
<!-- <portfolio *ngIf="helperSrv.showPor"></portfolio> -->
<contact *ngIf="helperSrv.showContact"></contact>
</section>
<!--
<section class="mobile">
  <div class="cont">
    <div class="clock"></div>
    <div class="content" [style.width.px]="bg_container.width">

      <desktop-icon></desktop-icon>

      <div class="clock"></div>
    </div>

  </div>
</section>
<div class="" style="width: 100vw;
position: fixed;
top: 0;
left: 0;
right: 0;
bottom: 0;
height: 100vh
vh
;">

  <img src="../assets/img/bg2.svg" style="width: 100%; height: 100%;" >
</div>

<img src="../assets/img/mb-bg1.svg" class="bg_contianer" #bg_container> -->


<!-- <section class="mobile">
<div class="w-full h-full flex justify-center items-center font-f1 text-c1  text-center" style="font-size:4em ; line-height: 2; ">
  Under construction
</div>
</section> -->
