  <div @fade>
  <div class="font-size-22 tColor-0 margin-top-60">
    My experinces
  </div>
  <div class="enderLine-0" style="width: 130px">

  </div>
  <div class="font-size-18 tColor-0 margin-top-40">
    CODE-12, Open source comunity
    <ul class="font-size-15 margin-top-10">
      <li>
        Design & Devlopment Virtual LAB, A desktop app for simulat physical experiments.

      </li>
      <li>
        Design user interface for multi desktop app.

      </li>
    </ul>
  </div>
  <div class="font-size-18 tColor-0 margin-top-20">
    QleanApp.
    <ul class="font-size-15 margin-top-10">
      <li>
        Development application user interface.


      </li>
      <li>
        Development control panel user interface & landing page.

      </li>
    </ul>
  </div>
  <div class="font-size-18 tColor-0 margin-top-20">
    EjarTech.
    <ul class="font-size-15 margin-top-10">
      <li>
        Development the user interface for EjarTech booking system.


      </li>
      <li>
        Development multi pages for markting stategy

      </li>
    </ul>
  </div>
</div>