<section>
  <div class="bt skils {{showMenu? 'active': ''}}" (click)="showMenu = !showMenu">Skils</div>

  <div class="bt {{halperSrv.windows[0].isOpen ? 'active': ''}}" (click)="halperSrv.windows[0].isOpen = !halperSrv.windows[0].isOpen; action(0)">
    <img src="../../../assets/img/saleh.svg" >
  </div>
  <div class="bt {{halperSrv.windows[1].isOpen ? 'active': ''}}" (click)="action(1); halperSrv.windows[1].isOpen = !halperSrv.windows[1].isOpen">
    <img src="../../../assets/img/folder.svg"  >
  </div>
  <div class="bt {{halperSrv.windows[2].isOpen ? 'active': ''}}" (click)="halperSrv.windows[2].isOpen = !halperSrv.windows[2].isOpen; action(2)">
    <img src="../../../assets/img/phone.svg" >
  </div>

  <div class="clock">
    {{hour | number:'2.0-0'}}
    <span>:</span>
    {{minuts | number:'2.0-0'}}

    {{ampm}}
  </div>
</section>


<!-- skils -->
<div class="skils_box {{showMenu? 'open' : ''}}">

<div class="date">
  1999
</div>

<div class="list">
  <ul>
    <li *ngFor="let s of skils">
      <img [src]="s.pic">
      <p>{{s.text}}</p>
    </li>
  </ul>
</div>
</div>
