div {
  @apply md:max-w-[110px] sm:max-w-[30%] w-full h-auto my-2 p-1;
  @apply flex flex-col items-center justify-center;

  -webkit-user-drag: none;
  user-drag: none;
  -webkit-user-drag: none;
  user-select: none;
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  &:hover {
    cursor: url(../../../assets/img/click.png), auto;
  }
  &:active {
    @apply border-solid border-[3px] border-c3;
    cursor: url(../../../assets/img/click.png), auto;
  }
  &.active {
    @apply border-solid border-[3px] border-c3;
    cursor: url(../../../assets/img/click.png), auto;
  }
  & img {
    @apply block m-auto w-[70%] h-auto select-none;
    cursor: inherit;
    -webkit-user-drag: none;
    user-drag: none;
    -webkit-user-drag: none;
    user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
  }
  & p {
    @apply text-c1 font-f1 text-center md:text-[1.2rem] sm:text-[1.0rem] select-none;
    cursor: inherit;
  }
}

nav {
  @apply px-4 flex md:flex-col sm:flex-row sm:flex-wrap md:pt-0 sm:pt-[5vh] md:justify-start sm:justify-between;


}
