<div @fade>
  <div class="font-size-22 tColor-0 margin-top-60">
    Hello There I'm 
  </div>
  <div class="enderLine-0" style="width: 130px">

  </div>
  <div class="font-size-20 tColor-0 margin-top-40">
    Saleh alsaggaf and I'm Front-end Developer with one year of experience designing and developing. And I Graduated from Omar
    Bin Al Khattab Secondary School in 2017.

  </div>
  <ul class="nav flex-column tColor-0 font-size-18 margin-top-40">
    <li class="nav-item">
      address : Jeddah - Saudi Arabia

    </li>
    <li class="nav-item">
      email : saa111954@hotmail.com.

    </li>
    <li class="nav-item">
      phone number : +966 551 594 683.

    </li>
    <li class="nav-item">
      birthday : 1999/9/1.

    </li>
  </ul>
</div>

