@use "primeicons/primeicons.css";
@use "tailwindcss" as *;
@use "../public/style/button.scss";
@import url("https://fonts.googleapis.com/css2?family=Russo+One&display=swap");

* {
  font-family: "Russo One", sans-serif;
}
@theme {
  --color-primary: #023259;
  --color-secondary: #66cc99;
  --color-accent: #339966;
  --color-background: #519391;
  --color-text: #006666;
  --color-muted: #339999;
}
